services:
  - type: web
    name: retail-backend
    env: docker
    region: frankfurt
    plan: free
    autoDeploy: true

    buildCommand: ""
    startCommand: ""

    envVars:
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
      - key: SPRING_JPA_HIBERNATE_DDL_AUTO
        value: update